<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cafe Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

  <div class="container-fluid head">

      <div class="row">
        <div class="col-sm-2">

          <div class="row">
            <div class="col-sm-3 box">
              <!-- <img src="imgs/logo.png"> -->
            </div>

            <div class="col-sm-9">
              <h2 class="headtxt">The <b>C</b>afe</h2>
            </div>
          </div>

        </div>
        <div class="col-sm-10">
          <h2 class="menutxt mt-2">Dashboard</h2>
        </div>      
      </div>

  </div>

  <div class="container-fluid">
    <div class="col-sm-2 menu">
     
      <nav class="navbar">
        <div class="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="row">
              <i class="fa fa-tachometer fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="#"><b>DASHBOARD</b></a>
              </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-user-o fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="users.html"><b>USERS</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-users fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="groups.html"><b>GROUPS</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-free-code-camp fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="brands.html"><b>BRANDS</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-files-o fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="category.html"><b>CATEGORY</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-star-o fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="store.html"><b>STORE</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-product-hunt fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="product.html"><b>PRODUCT</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-handshake-o fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="orders.html"><b>ORDERS</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-bar-chart fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="report.html"><b>REPORT</b></a>
            </div>
            </li>
            <li class="nav-item">
            <div class="row">
              <i class="fa fa-sign-out fa-2x mr-2" style="color: grey;" aria-hidden="true"></i> 
              <a class="nav-link nav1 mb-3" href="sign_out.html"><b>SIGN-OUT</b></a>
            </div>
            </li>
          </ul>
        </div>
      </nav>
    
    </div>
    <div class="col-sm-8">
      
    </div>
  </div>

</body>
</html>